<section class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="fixed-img">
                <img src="assets/images/LOGO.png" class="img-responsive center-block logo" alt="">
                <div class="divTable">
					<div class="divTableBody">
						<div class="divTableRow" ng-repeat="item in imageStore">
							<div class="divTableCell"  ng-repeat="i in item" >
                                <img  ng-src="{{i.photoURL}}" class="img-responsive img-profile">
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>
    </div>
</section>
<section class="container position-tv" > 
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <img class="center-block img-responsive img-tv" src="assets/images/home/TV-2.png" alt="" >
            <ul id="scene" style="position: absolute;right: -5px;top: 150px;">
                <li class="layer" data-depth="1.00">
                </li>
            </ul>
        </div>
    </div>
    <div ng-if="setting">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 position-text-tv">
                <div class="text-center text-crimson">
                    <div ng-if="!statusUser" class="text-tv">
                        <div ng-if="!user">
                            <i ng-if="setting.textStatus">
                                <p>รับชม Online Preview</p>
                                <p><strong>"DO IT WITH MY JAZZ"</strong></p>
                                <p>พร้อมทั้งแนะนำ ฮอนด้า แจ๊ซ ใหม่</p>
                                <p><strong>18 พ.ค. 2560 เวลา 18.00 น.</strong></p>
                            </i>
                            <i ng-if="!setting.textStatus">
                                <p  style="font-size: 0.9em">รับชม Online Preview "DO IT WITH MY JAZZ"</p>
                                <p  style="font-size: 0.9em">พร้อมทั้งแนะนำ ฮอนด้า แจ๊ซ ใหม่ ครั้งแรก</p>
                                <p style="font-size: 0.8em">
                                <small>กับพิธีกรรับเชิญสุดพิเศษ <strong>ซาร่า</strong> และ <strong>แคน</strong> ที่จะมา <br> 
                                สร้างสีสันและความสนุกในสไตล์วาไรตี้โชว์<br>
                                วันนี้ 18.00 น.</small>
                                </p>
                            </i>
                        </div>
                        <form class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1" ng-if="user" style="margin-top: -90px;" 
                        ng-submit="signInSystem(user)">
                            <img ng-src="{{ user.photoURL }}" class="img-thumbnail img-circle" style="width: 100px !important; height: 100px !important;"> 
                            <br>
                            <div class="form-group">
                                <input type="text" class="form-control"  ng-model="user.displayName" placeholder="Name*" required="">
                            </div>
                            <div class="form-group">
                                <textarea  class="form-control" ng-model="user.address" placeholder="Address*" required=""></textarea>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" ng-model="user.email"  placeholder="Email*" required="">
                            </div>
                            <div class="form-group">
                                <input type="tel" name="tel" pattern="^(?:\(\d{3}\)|\d{3})[- . ]?\d{3}[- . ]?\d{4}$" class="form-control" ng-model="user.phone"  placeholder="Phone number*" required="">
                            </div>
                            <button type="submit" class="btn btn-primary">
                                ยืนยันข้อมูลของคุณ
                            </button>
                        </form>
                    </div>
                    <div ng-if="statusUser"  class="text-tv-thx">
                        <div>
                            <p>
                                ขอขอบคุณที่ร่วมกิจกรรม กับ New Honda JAZZ  <br>
                                สามารถรับชม <strong> Online Preview <br>
                                “DO IT WITH MY JAZZ” </strong> <br>
                                ในวันที่ <strong> 18 พ.ค. 60 </strong> เวลา <strong> 18.00 น.</strong><br>
                                ที่ newjazz.honda.co.th หรือ <br>
                                Facebook Enjoy Honda Thailand <br>
                                หรือกดติดตามได้ที่นี่ 
                            </p>
                            <a href="{{setting.linkEvent}}" target="_blank" style="">
                                <button class="loginBtn loginBtn--facebook center-block">
                                    Enjoy Honda Thailand
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row text-center text-crimson" style="line-height: 48.1px;" ng-if="!statusUser && !user">
            <div class="col-md-12 col-sm-12 col-xs-12 text-tv-bonus" style="margin-top:10px;">
                <span ng-if="setting.textStatus">
                    พิเศษ ให้คุณร่วมกิจกรรม ลุ้นของที่ระลึกจาก<i><strong> <br> New Honda JAZZ จำนวน 300 รางวัล</strong></i>
                </span>
                <span ng-if="!setting.textStatus">
                    ร่วมถ่ายทอดตัวตนของคุณผ่านแคมเปญออนไลน์<i><strong> <br> เพื่อลุ้นรับของที่ระลึกสุดพิเศษ วันนี้ – 31 พ.ค.</strong></i>
                </span>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <button class="loginBtn loginBtn--facebook center-block" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Processing..." ng-click="signInFacebook()">
                    คลิก ร่วมกิจกรรม
                </button>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <a href="#" data-toggle="modal" data-target="#myModal" style="text-decoration: underline ;">
                    คลิกเพื่อ อ่านรายละเอียดและเงื่อนไข การร่วมกิจกรรม
                </a>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"> <strong> รายละเอียดและเงื่อนไข การร่วมกิจกรรม </strong></h4>
            </div>
            <div class="modal-body">
                <p style="font-size:16px">
                    - คลิก ปุ่ม ร่วมกิจกรรม ผ่าน Facebookของท่านเอง พร้อมกรอกข้อมูลให้ครบถ้วนและยืนยันการร่วมกิจกรรม <br>
                    - ระบบจะนำภาพโปรไฟล์ใน Facebookของผู้ร่วมกิจกรรม เข้าเป็นส่วนหนึ่งของภาพอักษร JAZZ ที่ newjazz.honda.co.th <br>
                    - ท่านสามารถร่วมกิจกรรมได้ตั้งแต่วันที่ 13– 18 พฤษภาคม 2560 <br>
                    - ประกาศผลผู้โชคดี จำนวน 300 ท่าน ที่ได้รับรางวัล T-Shirt JAZZ Limited Edition <br>
                    ในวันที่ 25 พฤษภาคม 2560 ที่ Facebook “Enjoy Honda Thailand” <br>
                    - ทางทีมงานจะจัดส่งของรางวัลให้กับผู้โชคดี ตามชื่อ ที่อยู่ ที่ท่านได้ลงทะเบียนไว้ <br>
                    - ของรางวัลไม่สามารถเปลี่ยนเป็นเงินสดหรือเปลี่ยนเป็นของรางวัลอื่นๆได้ <br>
                    - ภาพของผู้ร่วมกิจกรรมหากก่อให้เกิดความสูญเสียหรือเสียหายแก่บุคคลอื่น บริษัท ฮอนด้า ออโตโมบิล (ประเทศไทย) จำกัด จะไม่รับผิดชอบแต่อย่างใด <br>
                    - ภาพของผู้เข้าร่วมกิจกรรม จะถือเป็นลิขสิทธิ์ของ บริษัท ฮอนด้า ออโตโมบิล (ประเทศไทย) จำกัด ในการใช้เป็นสื่อโฆษณาและประชาสัมพันธ์ ต่อไป <br>
                    - บริษัทฯ ขอสงวนสิทธิ์ ภาพที่ใช้ในการเข้าร่วมกิจกรรม ดังนี้ ภาพอนาจาร หมิ่นประมาท ไม่เหมาะสม ผิดต่อกฎหมายและศีลธรรม <br>หากพบเห็นบริษัทฯขอสงวนสิทธิ์ในการลบภาพดังกล่าวออกจากการร่วมกิจกรรมทันที <br>
                    - สงวนสิทธิ์ท่านละ 1 รางวัล <br>
                    - พนักงานในบริษัทฮอนด้ากรุ๊ป และพนักงานบริษัทที่ดูแลสื่อโฆษณาไม่สามารถรับของรางวัลได้ <br>
                    - การตัดสินของคณะกรรมการถือว่าเป็นอันสิ้นสุด และขอสงวนสิทธิ์ในการเปลี่ยนแปลงเงื่อนไขกิจกรรมตามความเหมาะสมโดยไม่ต้องแจ้งให้ทราบล่วงหน้า <br>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<style>

    .position-text-tv{
        position: absolute;
        top: 42px;
        text-shadow: 2px 2px 10px #fff;
    }
    .position-tv{
        position: relative;
    }
    .text-tv{
        font-size: 2.8em;
    }
    .text-tv-thx{
        font-size: 1.7em;
    }
    .text-tv-bonus{
        font-size: 2.2em;
    }
    .img-tv{
        width: 65%;
        height: 400px;
    }


    @media (max-width: 767px) {
        .position-text-tv{
            position: absolute;
            top: 37px;
            text-shadow: 2px 2px 10px #fff;
        }
        .position-tv img{
            height: 300px;
        }
        .text-tv{
            font-size: 1.8em;
        }
        .text-tv-thx{
            font-size: 1.3em;
        }
        .text-tv-bonus{
            font-size: 1.3em;
        }
        .img-tv{
            width: 100%;
            height: 300px;
        }
    }
    #scene{
        width: 400px;
    }
    a:focus, a:hover {
        color: #23527c;
        text-decoration: none;
    }
.btn-primary {
    color: #fff;
    background-color: #4864b4;
    border-color: #2e6da4;
}
body{
    background-image: url(assets/images/home/BG-Register-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}

.modal {
    top: 25%;
}

@media (max-width: 991px){
    .modal {
        top: 15%;
    }
}

@media (max-width: 767px){
    .modal {
        top: 0;
    }
    #scene{
        width: 280px;
    }
}
</style>
