<div id="content"> 
  <div class="col-md-12" style="padding:20px;">
    <div class="panel animated fadeInUp ">
      <div class="panel-body">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-body no-padding">
              <div class="box-header">
                <a ui-sref="questions-create"><button class="btn btn-primary">Create Questions</button></a>
                <div class="pull-right">
                  <span>Start Game: </span>
                  {{settings.quizStart}}
                  <switch ng-model="settings.quizStart" ng-change="StartGame(settings)" on="Start" off="Stop" class="wide"></switch>
                </div>
              </div>
              <br>
              <table class="table table-hover table-bordered text-left" ng-hide="preload">
                  <tr>
                    <th>#</th>
                    <th>Subject</th>
                    <th>Question</th>
                    <th>Calculate</th>
                    <th>Type</th>
                    <th>Time</th>
                    <th>Active</th>
                    <th>Edit</th>
                    <th>Delete</th>
                  </tr>
                  <tr ng-repeat="data in datas" ng-hide="Questions_valid">
                    <td>{{$index+1}}</td>
                    <td>{{data.subject | limitTo: 40}}...</td>
                    <td>{{data.question | limitTo: 100}}...</td>
                    <td>{{data.calculate ? 'calculated' : 'not calculated' }}</td>
                    <td>{{data.type}}</td>
                    <td>{{data.timer}}</td>
                    <td> 
                      <switch ng-model="data.status" ng-change="activeCallback(data)" on="Play" off="Stop" class="wide"></switch>
                    </td>
                    <td><a ui-sref="questions-edit({ key: data.key })"><i class="fa fa-pencil-square-o fa-2x" style="margin-top: 3px;"></i></a></td>
                    <td><a href="" ng-click="DeleteQuestions(data)"><i class="fa fa-trash-o fa-2x"></i></a></td>
                  </tr>
              </table>
              <table  class="table text-center">
                <tr>
                  <td ng-if="preload" colspan="7"> Just minute !!! <i class="fa fa-spinner fa-pulse fa-fw"></i></td>
                  <td ng-if="Questions_valid" colspan="7"> No Data </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  th {
    text-align: center;
  }
</style>
