<div id="content"> 
   <div class="panel">
      <div class="panel-body">
         <div class="col-md-6 col-sm-12">
            <h3 class="animated fadeInLeft">ITU Event Lists Service</h3>
            <p class="animated fadeInDown"><span class="fa  fa-map-marker"></span> Events </p>
         </div>
         <div class="col-md-6 col-sm-12">
            <div class="col-md-6 col-sm-6 text-right" style="padding-left:10px;">
               <h3 style="color:#DDDDDE;"><span class="fa  fa-map-marker"></span> Bangkok</h3>
               <h1 style="margin-top: -10px;color: #ddd;">25<sup>o</sup></h1>
            </div>
            <div class="col-md-6 col-sm-6">
               <div class="wheather">
                  <div class="stormy rainy animated pulse infinite">
                     <div class="shadow">
                     </div>
                  </div>
                  <div class="sub-wheather">
                     <div class="thunder">
                     </div>
                     <div class="rain">
                        <div class="droplet droplet1"></div>
                        <div class="droplet droplet2"></div>
                        <div class="droplet droplet3"></div>
                        <div class="droplet droplet4"></div>
                        <div class="droplet droplet5"></div>
                        <div class="droplet droplet6"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-12" style="padding:20px;">
    <div class="panel animated fadeInUp ">
      <div class="panel-body">
        <div class="col-md-12 ">
          <button class="btn btn-warning" ui-sref="event">
            Back To Event 
          </button>
          <!-- <button class="btn btn-primary" ui-sref="event-list({ id: id_key })">
            cancel
          </button> -->
          <br><br>
              <div class="col-md-12">
                  <div class="col-md-12 panel">
                    <div class="col-md-12 panel-heading">
                      <h3>Edit List</h3>
                    </div>
                    <div class="col-md-12 panel-body" style="padding-bottom:30px;">
                        <div class="col-md-12">
                          <form class="cmxform" novalidate="novalidate">

                            <div class="col-md-12" ng-if="info.type == 'youtube'">
                              <div class="form-group form-animate-text" style="margin-top:40px !important;">
                                <input ng-model="info.playlist_yt" type="text" class="form-text" aria-required="true">
                                <span class="bar"></span>
                                <label>Playlist ID</label>
                              </div>
                            </div>    

                            <div class="col-md-12" ng-if="info.type == 'jwplayer'">
                              <div class="form-group form-animate-text">
                                <select ng-model="info.session" class="form-control" ng-options="sm for sm in session" >
                                  <option value="" style="display: none;">--- Please Select Session ---</option>
                                </select>
                              </div>

                              <div class="form-group form-animate-text" style="margin-top:40px !important;">
                                <input ng-model="info.title" type="text" class="form-text" aria-required="true">
                                <span class="bar"></span>
                                <label>Title</label>
                              </div>

                              <!-- <div class="form-group form-animate-text" style="margin-top:40px !important;">
                              <textarea ng-model="info.detail" class="form-text"  aria-required="true"></textarea>
                                <span class="bar"></span>
                                <label>Detail</label>
                              </div> -->

                              <label>Detail</label>
                              <div text-angular="text-angular" ng-model="info.detail" ta-disabled='disabled'></div>

                              <div class="form-group form-animate-text" style="margin-top:40px !important;">
                                <input ng-model="info.url" type="text" class="form-text" aria-required="true">
                                <span class="bar"></span>
                                <label>Url Stream</label>
                              </div>

                              <div class="form-group form-animate-text" style="margin-top:40px !important;">
                                <input ng-model="info.url_download" type="text" class="form-text" aria-required="true">
                                <span class="bar"></span>
                                <label>Url Download</label>
                              </div>
                    
                              <div class="form-group form-animate-text" style="margin-top:40px !important;">
                                <input ng-model="info.state" type="text" class="form-text" aria-required="true">
                                <span class="bar"></span>
                                <label>State</label>
                              </div>

                              
                              <div class="form-group form-animate-text" style="margin-top:40px !important;">
                                <input ng-model="info.start_datetime"  class="form-text" datetime-picker date-format="yyyy-MM-dd HH:mm:ss">
                                <span class="bar"></span>
                                <label>Start Datetime</label>
                              </div>

                              <div class="form-group form-animate-text" style="margin-top:40px !important;">
                                <input ng-model="info.end_datetime" class="form-text" datetime-picker date-format="yyyy-MM-dd HH:mm:ss">
                                <span class="bar"></span>
                                <label>End Datetime</label>
                              </div>

                              <div class="form-group form-animate-text" style="margin-top:40px !important;" ng-show="info.image">
                                <!-- <input ng-model="info.image" type="text" class="form-text" aria-required="true">
                                <span class="bar"></span>
                                <label>Image</label> -->
                                <img ng-src="{{ImgBasepath}}{{info.image}}" width="250px">
                                {{info.image}}
                              </div>

                              <button class="fileUpload btn ripple-infinite btn-raised btn-primary" ng-hide="uploader.queue.length">
                                    <span>Upload Image <i class="fa fa-upload"></i></span>
                                    <input type="file" class="upload" nv-file-select="" uploader="uploader" />
                              </button>
                              <br/>
                              <div ng-repeat="item in uploader.queue" ng-hide="completeALl">
                                  <!-- <strong>{{ item.file.name }}</strong> -->
                                  <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 300 }"></div>
                              </div>
                              <div ng-show="uploader.queue.length">
                                  <div ng-show="complete">
                                      Queue progress:
                                      <div class="progress" style="">
                                          <div class="progress-bar progress-bar-striped" role="progressbar" ng-class="{'active': complete}" ng-style="{ 'width': uploader.progress + '%' }">{{uploader.progress}}%</div>
                                      </div>
                                  </div>
                                  <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                                      <span ng-hide="!uploader.getNotUploadedItems().length">
                                        <span class="glyphicon glyphicon-upload"></span> 
                                        <span>Upload all</span>  
                                      </span>
                                      <span ng-show="!uploader.getNotUploadedItems().length">
                                        <i class="fa fa-check-square-o"></i>
                                        <span>Success</span>
                                      </span>
                                  </button>
                                  <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                                      <span class="glyphicon glyphicon-trash"></span> Remove Image
                                  </button>
                              </div>
                             
                            <hr>
                            
                            <button class="btn btn-success" ng-click="UpdateList(info)"> SAVE </button>

                        </form>

                      </div>
                    </div>
                  </div>
                </div>
                </div>          
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  th {
    text-align: center;
  }
</style>
