<div id="content"> 
   <div class="panel">
      <div class="panel-body">
         <div class="col-md-6 col-sm-12">
            <h3 class="animated fadeInLeft">ITU Events Service</h3>
            <p class="animated fadeInDown"><span class="fa  fa-map-marker"></span> Events </p>
         </div>
         <div class="col-md-6 col-sm-12">
            <div class="col-md-6 col-sm-6 text-right" style="padding-left:10px;">
               <h3 style="color:#DDDDDE;"><span class="fa  fa-map-marker"></span> Bangkok</h3>
               <h1 style="margin-top: -10px;color: #ddd;">25<sup>o</sup></h1>
            </div>
            <div class="col-md-6 col-sm-6" style="padding-bottom:30px;">
               <center>
                  <div class="mostly-suny suny">
                    <div class="sun animated pulse infinite">
                    </div>
                    <div class="cloudy animated pulse infinite">
                      <div class="shadow">
                        
                      </div>
                    </div>
                  </div>
                  <div class="hazy cloudy animated pulse infinite">
                    <div class="shadow">
                      
                    </div>
                  </div>
                </center>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-12" style="padding:20px;">
    <div class="panel animated fadeInUp ">
      <div class="panel-body">
        <div class="col-md-12 ">
          <button class="btn btn-info" ng-click="toggleCreate()" ng-show="event_create">
            Create Event
          </button>
          <button class="btn btn-primary" ng-click="toggleCreate()" ng-hide="event_create">
            cancel
          </button>
          <br><br>

          <table class="table table-hover text-center table-bordered " ng-if="event_create" ui-sortable >
            <thead>
              <tr>
                <th>#</th>
                <th>Event Name</th>
                <th>Date</th>
                <th>information</th>
                <th>Status</th>
                <!-- <th>Edit</th> -->
                <th>Delete</th>
              </tr>
            </thead>

            <tbody ui-sortable="sortableOptions" ng-model="events">  
              <tr ng-repeat="data in events ">
                <td>{{$index+1}}</td>
                <td>{{data.event_name}}</td>
                <td>{{data.date}}</td>
                <td><a ui-sref="event-list({ id: data.id })"><i class="fa fa-list-alt fa-2x"></i> List Detail</a></td>
                <td>
                  <switch ng-model="data.active" ng-change="ActiveEvent(data.active , data.id)" 
                  on="active" off="block" class="wide"></switch> 
                </td>
                <!-- <td><a ui-sref="event-edit({ key: data.key })"><i class="fa fa-edit fa-2x"></i></a></td> -->
                <td><a href="" ng-click="DeleteEvent(data.id)"><i class="fa fa-trash-o fa-2x"></i></a></td>
              </tr>
            </tbody>

          </table>
 
          <div ng-hide="event_create">
            <div class="col-md-12">
                <div class="col-md-12 panel">
                  <div class="col-md-12 panel-heading">
                    <h4>Creat New Event</h4>
                  </div>
                  <div class="col-md-12 panel-body" style="padding-bottom:30px;">
                      <div class="col-md-12">
                        <form class="cmxform" id="signupForm" method="get" action="" novalidate="novalidate">
                          <div class="col-md-12">
                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                              <input ng-model="info.event_name" type="text" class="form-text"  aria-required="true">
                              <span class="bar"></span>
                              <label>Event Name</label>
                            </div>

                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                              <input ng-model="info.date" type="date" class="form-text"  aria-required="true">
                              <span class="bar"></span>
                              <!-- <label>Date</label> -->
                            </div>

                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                              <select ng-model="info.type" class="form-control" ng-options="sm for sm in selectSM" >
                                <option value="">--- Please Select Type Player ---</option>
                              </select>
                            </div>

                          </div>

                          <div class="col-md-12" ng-if="info.type == 'youtube'">
                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                              <input ng-model="info.playlist_yt" type="text" class="form-text" aria-required="true">
                              <span class="bar"></span>
                              <label>Playlist ID</label>
                            </div>
                          </div>    

                          <div class="col-md-12" ng-if="info.type == 'jwplayer'">

                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                              <input ng-model="info.title" type="text" class="form-text" aria-required="true">
                              <span class="bar"></span>
                              <label>Title</label>
                            </div>

                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                            <textarea ng-model="info.detail" class="form-text"  aria-required="true"></textarea>
                              <span class="bar"></span>
                              <label>Detail</label>
                            </div>

                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                              <input ng-model="info.url" type="text" class="form-text" aria-required="true">
                              <span class="bar"></span>
                              <label>Url Stream</label>
                            </div>

                          </div>             

                          <switch ng-model="info.active"  on="active" off="block" class="wide"></switch>      
                          <br><br>

                          <button class="btn btn-success" ng-click="SaveEvent(info)"> SAVE </button>

                      </form>

                    </div>
                  </div>
                </div>
              </div>
              </div>
          </div>
                   
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  th {
    text-align: center;
  }
</style>
