<div id="content"> 
   <div class="col-md-12" style="padding:20px;">
    <div class="panel animated fadeInUp ">
      <div class="panel-body">
        <div class="col-md-12 tabs-area">
          <div class="liner"></div>
          <ul class="nav nav-tabs nav-tabs-v5" id="tabs-demo6">
            <li class="active">
              <a href="/#tabs-demo6-area1" data-toggle="tab" title="table" aria-expanded="false">
               <span class="round-tabs two">
                 <i class="fa fa-area-chart"></i>
               </span> 
             </a>
             <p class="text-center">
               คะแนนประจำโต๊ะ
             </p>
           </li>

           <li class="">
              <a href="/#tabs-demo6-area2" data-toggle="tab" title="profile" aria-expanded="false">
               <span class="round-tabs two">
                 <i class="glyphicon glyphicon-comment"></i>
               </span> 
             </a>
             <p class="text-center">
               คำถามที่ไม่เก็บคะแนน
             </p>
           </li>

           <li class="">
              <a href="/#tabs-demo6-area3" data-toggle="tab" title="profile" aria-expanded="false">
               <span class="round-tabs two">
                 <i class="glyphicon glyphicon-comment"></i>
               </span> 
             </a>
             <p class="text-center">
               คำถามที่เก็บคะแนน
             </p>
           </li>

           <li class="">
              <a href="/#tabs-demo6-area4" data-toggle="tab" title="profile" aria-expanded="false">
               <span class="round-tabs two">
                 <i class="glyphicon glyphicon-comment"></i>
               </span> 
             </a>
             <p class="text-center">
               FEEDBACK หลังงาน
             </p>
           </li>

          </ul>
          <div class="tab-content tab-content-v5">
            <div class="tab-pane fade active in" id="tabs-demo6-area1">
              <br>
              <div class="col-xs-12">
                <div class="box">
                  <div class="box-body no-padding">
                    <h3>คะแนนประจำโต๊ะ</h3>
                    <table class="table table-hover table-bordered text-center" ng-hide="preload" style="font-size: 16px;">
                      <tr>
                        <th>#</th>
                        <th>Table Number</th>
                        <th>จำนวนคน Active</th>
                        <th>คะแนนดิบ</th>
                        <th>ตัวคูณ</th>
                        <th>ยอดคะแนนรวม</th>
                      </tr>
                      <tr ng-repeat="data in mapResults track by $index" ng-hide="Questions_valid">
                        <td>{{$index+1}}</td>
                        <td>
                          <button class="btn btn-info" type="button">
                          Table <span class="badge">{{data.TableNo}}</span>
                          </button>
                        </td>
                        <td><input type="button" class="btn btn-outline btn-default" value="{{data.Count}}"></td>
                        <td><input type="button" class="btn btn-outline btn-default" value="{{data.DataScore}}"></td>
                        <td><input type="button" class="btn btn-outline btn-default" value="{{data.multiply}}"></td>
                        <td>
                          <button class="btn " type="button" ng-class="{'btn-danger': $index <= 2}">
                            ลำดับที่ <span>{{$index+1}}</span> <span class="badge">{{data.Score}} คะแนน</span>
                          </button>
                        <td></td>
                      </tr>
                    </table>
                    <table  class="table text-center">
                      <tr>
                        <td ng-if="preload" colspan="7"> Just minute !!! <i class="fa fa-spinner fa-pulse fa-fw"></i></td>
                        <td ng-if="Questions_valid" colspan="7"> No Data </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="tabs-demo6-area2">
              <br>
              <div class="col-xs-12">
                <div class="box">
                  <div class="box-body no-padding">
                    <h3>คำถามที่ไม่เก็บคะแนน</h3>
                      <div id="accordion" ng-repeat="item in quiz">
                        <div class="panel panel-default" >
                        <div class="panel-heading" role="tab" id="headingOne">
                          <h4 class="panel-title">
                            <a class="my-panel-heading" data-toggle="collapse" data-parent="#accordion{{$index+1}}" data-target="#collapse{{$index+1}}">
                              {{item.question}}
                            </a>
                          </h4>
                        </div>
                        <div id="collapse{{$index+1}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                          <div class="panel-body">
                            <p ng-repeat="answer in item.answers">คำตอบข้อที่ {{$index+1}}. {{answer.text}} | มีจำนวนคนที่ตอบเท่ากับ {{ CountDataNotCal(answer.id) }} คน <hr></p>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="tabs-demo6-area3">
              <br>
              <div class="col-xs-12">
                <div class="box">
                  <div class="box-body no-padding">
                    <h3>คำถามที่เก็บคะแนน</h3>
                      <div id="accordion2" ng-repeat="item in quizTrue">
                        <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                          <h4 class="panel-title">
                            <a class="my-panel-heading" data-toggle="collapse" data-parent="#accordion2{{$index+1}}" data-target="#collapse{{$index+1}}">
                              {{item.question}}
                            </a>
                          </h4>
                        </div>
                        <div id="collapse{{$index+1}}" class="panel-collapse collapse in"  role="tabpanel" aria-labelledby="headingOne">
                          <div class="panel-body">
                            <p ng-repeat="answer in item.answers">คำตอบข้อที่ {{$index+1}}. {{answer.text}} | มีจำนวนคนที่ตอบเท่ากับ {{ CountDataCal(answer.id) }} คน <hr></p>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="tabs-demo6-area4">
              <br>
              <div class="col-xs-12">
                <div class="box">
                  <div class="box-body no-padding">
                    <h3>FEEDBACK หลังงาน</h3>
                    <div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="c in userComments">
                      <div class="panel box-v1" style="word-wrap: break-word; height: 180px; overflow: hidden;">
                        <div class="panel-heading bg-white border-none">
                          <div class="col-md-12 col-sm-12 col-xs-12 text-left padding-0">
                            <h4 class="text-left">{{c.Name}} (Table {{c.TableNo}})</h4>
                          </div>
                        </div>
                        <div class="panel-body text-left" >
                          <hr>
                          <p>{{c.text}}</p>
                          <hr>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  th {
    text-align: center;
  }

.box-v1 .panel-body {
    padding-top: 0px;
}
  .my-panel-heading {
  cursor: pointer;
}
 Overrides for .panel--theonly required bootstrap class 

.panel.my-panel-overrides {
      color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
</style>
