/*********************** */
/* SECTION: ALL */
/*********************** */
html body{
    padding: 0px;
    margin: 0px;
    font-family: 'Prompt', sans-serif !important;
}
.text-white{
  color: #fff;
}
.width-100{
  width: 100%;
}
.text-gray{
  color: #535967;
}
.text-crimson {
  color: #5d1d01;
}
.col-25{
  margin-top: 25px;
}
.col-50{
  margin-top: 50px;
}
.col-100{
  margin-top: 100px;
}
.col-125{
  margin-top: 125px;
}
.col-150{
  margin-top: 150px;
}
.col-215{
  margin-top: 215px;
}
.col--40{
  margin-top: -40px;
}
.col--100{
  margin-top: -50px;
}


.img-logo{
  padding:20px 0 0 20px;
}
/*********************** */
/* SECTION: Shared */
/*********************** */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  margin: 0.2em;
  padding: 0px 10px 0 46px;
  border: none;
  text-align: left;
  line-height: 58px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 22px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}

/*********************** */
/* SECTION: Facebook */
/*********************** */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png) 9px 17px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}

/*********************** */
/* SECTION: Google */
/*********************** */
.loginBtn--google {
  background: #DD4B39;
  padding: 0 40px;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}

/*********************** */
/* SECTION: BG-Register */
/*********************** */
.bg-login{
  margin-top: 50px;
  z-index: 2000;
  position: relative;
}
.center-block {
  display: block;
  margin-right: auto !important;
  margin-left: auto !important;
}
.fixed-img{
  top: 0px;
  position: relative;
  height: 270px;
  overflow: hidden;
  background: black;
  z-index: 9999;
}
.fixed-img .logo{
  position: absolute;
  min-height: 100%;
}
.fixed-img .person{
  width: 100%;
  position: absolute;
  z-index: 0;
}

@media (max-width: 1200px){
  .fixed-img{
    top: 0px;
    position: relative;
    height: 255px;
    overflow: hidden;
    margin: 0 auto;
  }
}
@media (max-width: 991px){
  .fixed-img{
    top: 0px;
    position: relative;
    height: 135px;
    overflow: hidden;
  }
}
@media (max-width: 480px){
  .fixed-img{
    top: 0px;
    position: relative;
    height: 120px;
    overflow: hidden;
  }

}
/* DivTable.com */
.img-profile{
  height: 16px;
  width: 19px;
}
@media (max-width: 991px) {
  .img-profile{
    height: 10px;
    width: 15px;
  }
}
@media (max-width: 540px) {
  .img-profile{
    height: 7px;
    width: 10px;
  }
}
.divTable{
  display: table;
  width: 100%;
}P
.divTableRow {
  display: table-row;
  text-align: center;
}
.divTableHeading {
  background-color: #EEE;
  display: table-header-group;
}
.divTableCell, .divTableHead {
  display: table-cell;
  padding: 0px 0px;
  line-height: 0.2;
}
.divTableHeading {
  background-color: #EEE;
  display: table-header-group;
  font-weight: bold;
}
.divTableFoot {
  background-color: #EEE;
  display: table-footer-group;
  font-weight: bold;
}
.divTableBody {
  display: table-row-group;
}