<!DOCTYPE html>
<html lang="en" ng-app="login">
<head>

	<meta charset="utf-8">
	<meta name="description" content="Miminium Admin Template v.1">
	<meta name="author" content="Isna Nur Azis">
	<meta name="keyword" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Admin Login</title>

	<!-- start: Css -->
	<link rel="stylesheet" type="text/css" href="asset/css/bootstrap.min.css">
	<!-- plugins -->
	<link rel="stylesheet" type="text/css" href="asset/css/plugins/simple-line-icons.css"/>
	<link rel="stylesheet" type="text/css" href="asset/css/plugins/icheck/skins/flat/aero.css"/>
	<link href="asset/css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="asset/node_modules/ngSweet/SweetAlert.css">
	<!-- end: Css -->
</head>

<body id="mimin" class="dashboard form-signin-wrapper" ng-controller="LoginCtrl as vm">

	<div class="container">

		<form class="form-signin">
			<div class="panel periodic-login">
				<!-- <span class="atomic-number">28</span> -->
				<div class="panel-body text-center">
					<h1 class="atomic-symbol">ADMIN</h1>
					<!-- <p class="atomic-mass">14.072110</p> -->
					<p class="element-name">&copy; 2016 - 2017</p>

					<i class="icons icon-arrow-down"></i>
					<div class="form-group form-animate-text" style="margin-top:40px !important;">
						<input type="text" class="form-text" ng-model="credentials.username" required>
						<span class="bar"></span>
						<label>Username </label>
					</div>
					<div class="form-group form-animate-text" style="margin-top:40px !important;">
						<input type="password" class="form-text" ng-model="credentials.password" required>
						<span class="bar"></span>
						<label>Password</label>
					</div>
					<label class="pull-left">
						<input type="checkbox" class="icheck pull-left" ng-model="credentials.remember" name="checkbox1"/> Remember me{{vm.text}}
					</label>
					<input type="submit" ng-click="vm.Login(credentials)" class="btn col-md-12" value="SignIn"/>
				</div>
				<!-- <div class="text-center" style="padding:5px;">
					<a href="forgotpass.html">Forgot Password </a>
					<a href="reg.html">| Signup</a>
				</div> -->
			</div>
		</form>
	</div>

	<!-- end: Content -->
	<!-- start: Javascript -->
	<script src="asset/js/jquery.min.js"></script>
	<script src="asset/js/bootstrap.min.js"></script>

	 <!-- start: Javascript -->
    <script src="asset/node_modules/angular/angular.min.js"></script>
    <script src="asset/node_modules/firebase/firebase.js"></script>
	<!-- custom -->
	<script src="asset/js/plugins/jquery.nicescroll.js"></script>
	<!-- <script src="asset/js/main.js"></script> -->
	<script type="text/javascript">
	// Firebase -->
	// ***********************************************************************************************************************
	   var config = {
	        apiKey: "AIzaSyCfSNSONM7XsijA-xWLB_jMosYSFpubXgo",
	        authDomain: "jazz-c8ba1.firebaseapp.com",
	        databaseURL: "https://jazz-c8ba1.firebaseio.com",
	        projectId: "jazz-c8ba1",
	        storageBucket: "jazz-c8ba1.appspot.com",
	        messagingSenderId: "1074998454805"
	    };
	    firebase.initializeApp(config);
	//   * TODO(DEVELOPER): Paste the initialization snippet from: Firebase Console > Overview > Add Firebase to your web app. *
	//   *********************************************************************************************************************** 
	    var basePath = '/jazz/admin/'
		var login = angular.module('login',[])
		angular.module('moduleName', [])
		login.controller('LoginCtrl', ['$location','$window', function ($location, $window) {
			this.Login = function (data) {
				if (data != null) {		
					var username = data.username + '@admin.com'
					firebase.auth().signInWithEmailAndPassword(username, data.password)
					.then(function(user){
						var MainPath = $location.protocol() + '://' +$location.host() + basePath;
						sessionStorage.setItem('keygen', user.uid)
						$window.location.href = MainPath
					})
					.catch(function(error) {
					  var errorCode = error.code;
					  var errorMessage = error.message;
					  if (errorCode === 'auth/wrong-password') {
					    alert('Wrong password.');
					  } else {
					    alert(errorMessage);
					  }
					  console.log(error);
					});
				}
			}
		}])
	</script>
	<!-- end: Javascript -->
</body>
</html>