<section class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="fixed-img">
                <img src="assets/images/LOGO.png" class="img-responsive center-block logo" style="z-index: 9999;" alt="">
                <div class="divTable">
					<div class="divTableBody">
						<div class="divTableRow" ng-repeat="item in imageStore">
							<div class="divTableCell"  ng-repeat="i in item" >
                                <img  ng-src="{{i.photoURL}}" class="img-responsive img-profile">
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>
    </div>
</section>
<section class="container" ng-if="activeUser">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
            <form ng-submit="signInSystem(user)">
                <img ng-src="{{ user.photoURL }}" class="img-thumbnail img-circle center-block" style="width: 100px !important; height: 100px !important;"> 
                <br>
                <div class="form-group">
                    <input type="text" class="form-control"  ng-model="user.displayName" placeholder="Name*" required="">
                </div>
                <div class="form-group">
                    <textarea  class="form-control" ng-model="user.address" placeholder="Address*" required=""></textarea>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" ng-model="user.email"  placeholder="Email*" required="">
                </div>
                <div class="form-group">
                    <input type="tel" name="tel" pattern="^(?:\(\d{3}\)|\d{3})[- . ]?\d{3}[- . ]?\d{4}$" class="form-control" ng-model="user.phone"  placeholder="Phone number*" required="">
                </div>
                <button type="submit" class="btn btn-primary">
                    โปรดยืนยันข้อมูลของคุณ
                </button>
            </form>
        </div>
    </div>
</section>   
<section class="container section-app" ng-if="!activeUser">
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <div style="position: relative;">
                <div ng-if="selectedTab == 1" >
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" id="vod" ng-src="" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div ng-if="selectedTab == 2">
                    <div class="embed-responsive embed-responsive-16by9">
                         <iframe class="embed-responsive-item" src="http://project.thailivestream.com/jazz/exterior/" frameborder="0" scrolling="no" allowfullscreen></iframe>
                    </div>
                </div>
                <div ng-if="selectedTab == 3">
                    <div class="embed-responsive embed-responsive-16by9">
                         <iframe class="embed-responsive-item" src="http://project.thailivestream.com/jazz/interior/" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div  ng-show="selectedTab == 3 || selectedTab== 2 || selectedTab == 4" 
                ng-class="{'live-absolute': selectedTab !== 4 }">
                    <div class="embed-responsive embed-responsive-16by9" >
                        <iframe ng-show="setting.groupmenu.mainview.status" id="live" class="embed-responsive-item" src="" frameborder="0" allowfullscreen></iframe>
                        <img ng-if="!setting.groupmenu.mainview.status" ng-src="{{setting.groupmenu.mainview.image}}" class="img-responsive">
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="message" ng-if="comment.id">
                        <img ng-src="{{comment.image}}" class="img-responsive">
                        <p>{{comment.name}} :</p>
                        <span>{{comment.comment | limitTo : 200 }}</span>
                    </div>
                    <div class="message">
                        <i class="fa fa-thumb-tack fa-2x" aria-hidden="true" style=" color: #f35023;float: right;"></i>
                        <img ng-src="{{commentsPin.image}}" class="img-responsive">
                        <p> {{commentsPin.name}} : </p>
                        <span>{{commentsPin.comment | limitTo : 200 }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="img-menu">
                    <div class="col-md-12 " ng-if="setting.groupmenu.onlineFilm.status">
                        <a ng-click="select(setting.groupmenu.onlineFilm.url)">
                            <img src="assets/images/pr-video.jpg" class="img-responsive width-100" ng-class="{'remove-gray': selectedTab === 1 }" >
                            <span class="font-tab">Online Film</span>
                        </a>
                    </div>
                    <div class="col-md-12 " ng-if="!setting.groupmenu.onlineFilm.status">
                        <a style="cursor: no-drop !important;">
                            <img src="assets/images/pr-video.jpg" class="img-responsive width-100">
                            <span class="font-tab">Online Film</span>
                        </a>
                    </div>
                    <div class="col-md-12 ">
                        <a ng-click="selectApp(2)">
                            <img src="assets/images/exterior.jpg" class="img-responsive width-100" ng-class="{'remove-gray': selectedTab === 2 }">
                            <span class="font-tab">Exterior 360°</span>
                        </a>
                    </div>
                    <div class="col-md-12 ">
                        <a ng-click="selectApp(3)">
                            <img src="assets/images/interior.jpg" class="img-responsive width-100" ng-class="{'remove-gray': selectedTab === 3 }">
                            <span class="font-tab">Interior 360°</span>
                        </a>
                    </div>
                    <div class="col-md-12">
                        <a ng-click="selectMain(setting.groupmenu)">
                            <img src="assets/images/LIVE.jpg" class="img-responsive width-100" ng-class="{'remove-gray': selectedTab === 4 }">
                            <span class="font-tab">MAIN VIEW</span>
                        </a>
                    </div>
                    <div class="col-md-12">
                        <a href="https://www.honda.co.th/th/jazz/" target="_blank">
                            <button class="btn-custom">
                                Price & Specification
                            </button>
                        </a>
                    </div>
                    <div class="col-md-12" style="margin-top: 10px;" ng-if="!statusUser">
                        <span class="text-gray">ร่วมกิจกรรมลุ้นรางวัลจาก New Honda Jazz</span>
                        <button class="loginBtn loginBtn--facebook center-block" style="width: 100%;margin-top: 5px; text-align: center;" 
                        ng-click="signInFacebook()">
                            คลิก ร่วมกิจกรรม
                        </button>
                    </div>
                </div>
                <div class="col-md-12" style="margin-top: 10px;" ng-if="statusUser">
                    <button class="loginBtn loginBtn--facebook center-block" style="width: 100%;margin-top: 5px; text-align: center;">
                        <img ng-src="{{ user.photoURL }}" class="img-thumbnail img-circle" width="50px"> {{user.displayName}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <span >Powered by <a href="http://thailivestream.com" target="_blank">thailivestream.com</a> 2017 Thai Livestream</span>
        </div>
    </div>
</section>        

<style>
.status-user{
    outline: 5px solid #ed1b2f;
    outline-offset: -5px;
    width: 30px;
    height: 32px;
    position: absolute;
    z-index: 0;
}


.live-absolute{
    position: absolute;
    width: 140px;
    z-index: 9999;
    right: 0;
    bottom: 0;
}
button:focus {
    outline:0;
}
.btn-custom{
    width: 100%;
    background-image: linear-gradient(-3deg, #f35123 62%, #ffffff 100%);
    color: #d6d6d6;
    font-weight: 900;
    font-style: italic;
    padding: 12px;
    font-size: 2em;
    border-radius: 0px;
}
.btn-custom:hover{
    width: 100%;
    background-image: linear-gradient(-3deg, #f35123 62%, #ffffff 100%);
    color: #ffffff;
    font-weight: 900;
    font-style: italic;
    padding: 12px;
    font-size: 2em;
    border-radius: 0px;
}
.messages {
  padding: 10px;
}
.message {
  float: left;
  width: 100%;
  margin: 9px 0;
  word-wrap: break-word;
}
.message p {
  font-size: 1.1em;
  width: 90%;
  margin: 5px 0;
  opacity: 0.6;
}
.message span {
  font-size: 1.3em;
  width: 90%;
  margin: 5px 0;
}
.message img {
  border-radius: 100%;
  float: left;
  margin: 0 10px 15px 0;
  width: 6%;
}
@media ( max-width: 767px ) {
    .message img {
        width: 12%;
    }
    .message span {
        font-size: 1em;
        width: 90%;
        margin: 5px 0;
    }
    .status-user{
        outline: 1px solid #ed1b2f;
        outline-offset: -1px;
        width: 15px;
        height: 15px;
        position: absolute;
        z-index: 0;
    }

    .live-absolute {
        position: absolute;
        width: 75px;
        z-index: 9999;
        right: 0;
        bottom: 0;
    }
}
/*********************** */
/* SECTION: CheateApp */
/*********************** */
.overlay{
    width: 93%;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    height: 132px;
    border-radius: 4px;
    top: 0;
}
.img-menu a{
    cursor: pointer;
}
.img-menu img{
    border-radius: 4px;
    -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(100%); /* FF 35+ */
}

.img-menu img:hover {
  -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%); /* FF 35+ */
  color: white;
}
.remove-gray{
  -webkit-filter: grayscale(0%) !important; /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%) !important; /* FF 35+ */
}

.font-tab{
    position: absolute;
    bottom: 0;
    color: rgba(255,255,255,0.9);
    padding: 6px;
    font-style: italic;
    font-weight: 900;
}
body {
    background-image: url(assets/images/home/BG-Register-2.png) ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
}

.section-app{
    position: relative;
    z-index:2000;
}

@media ( max-width: 991px) {
    .section-app{
        margin-top: 40px;
    }
}
@media ( max-width: 767px) {
    .section-app{
        margin-top: 10px;
    }
}

</style>

