<div id="content"> 
   <div class="panel">
      <div class="panel-body">
         <div class="col-md-6 col-sm-12">
            <h3 class="animated fadeInLeft">Edit User Service</h3>
            <p class="animated fadeInDown"><span class="fa  fa-map-marker"></span> Edit </p>
         </div>
         <div class="col-md-6 col-sm-12">
            <div class="col-md-6 col-sm-6 text-right" style="padding-left:10px;">
               <h3 style="color:#DDDDDE;"><span class="fa  fa-map-marker"></span> Bangkok</h3>
               <h1 style="margin-top: -10px;color: #ddd;">25<sup>o</sup></h1>
            </div>
            <div class="col-md-6 col-sm-6">
               <div class="wheather">
                  <div class="stormy rainy animated pulse infinite">
                     <div class="shadow">
                     </div>
                  </div>
                  <div class="sub-wheather">
                     <div class="thunder">
                     </div>
                     <div class="rain">
                        <div class="droplet droplet1"></div>
                        <div class="droplet droplet2"></div>
                        <div class="droplet droplet3"></div>
                        <div class="droplet droplet4"></div>
                        <div class="droplet droplet5"></div>
                        <div class="droplet droplet6"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-12" style="padding:20px;">
    <div class="panel animated fadeInUp ">
      <div class="panel-body">
        <div class="form-group form-animate-text" style="margin-top:40px !important;">  
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>User: {{users.Name}} {{users.LastName}}</h4>
            </div>
            <div class="panel-body">
              <div class="col-md-12">
                <form class="cmxform" novalidate="novalidate">
                  <div class="form-group form-animate-text" style="margin-top:40px !important;">
                    <input ng-model="users.Name" type="text" class="form-text" aria-required="true">
                    <span class="bar"></span>
                    <label>Name</label>
                  </div>

                  <div class="form-group form-animate-text" style="margin-top:40px !important;">
                    <input ng-model="users.LastName" type="text" class="form-text" aria-required="true">
                    <span class="bar"></span>
                    <label>Last Name</label>
                  </div>

                  <div class="form-group form-animate-text" style="margin-top:40px !important;">
                    <input ng-model="users.TableNo" type="text" class="form-text" aria-required="true">
                    <span class="bar"></span>
                    <label>Table Number</label>
                  </div>

                  <div class="form-group form-animate-text" style="margin-top:40px !important;">
                    <input ng-model="users.email" type="text" class="form-text" aria-required="true">
                    <span class="bar"></span>
                    <label>email</label>
                  </div>

                  <div class="form-group form-animate-text" style="margin-top:40px !important;">
                    <input ng-model="users.Function" type="text" class="form-text" aria-required="true">
                    <span class="bar"></span>
                    <label>Function</label>
                  </div>

                  <div class="form-group form-animate-text" style="margin-top:40px !important;">
                    <input ng-model="users.Group" type="text" class="form-text" aria-required="true">
                    <span class="bar"></span>
                    <label>Group</label>
                  </div>

                  <button class="btn btn-success" ng-click="UpdateUser(users)"> SAVE </button>
                  <button class="btn btn-danger" ng-click="DeleteUser(users)"> Delete </button>
                  
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


