<div id="content"> 
   <div class="panel">
      <div class="panel-body">
         <div class="col-md-6 col-sm-12">
            <h3 class="animated fadeInLeft">Question Edit Service</h3>
            <p class="animated fadeInDown"><span class="fa  fa-map-marker"></span> Events </p>
         </div>
         <div class="col-md-6 col-sm-12">
            <div class="col-md-6 col-sm-6 text-right" style="padding-left:10px;">
               <h3 style="color:#DDDDDE;"><span class="fa  fa-map-marker"></span> Bangkok</h3>
               <h1 style="margin-top: -10px;color: #ddd;">25<sup>o</sup></h1>
            </div>
            <div class="col-md-6 col-sm-6">
               <div class="wheather">
                  <div class="stormy rainy animated pulse infinite">
                     <div class="shadow">
                     </div>
                  </div>
                  <div class="sub-wheather">
                     <div class="thunder">
                     </div>
                     <div class="rain">
                        <div class="droplet droplet1"></div>
                        <div class="droplet droplet2"></div>
                        <div class="droplet droplet3"></div>
                        <div class="droplet droplet4"></div>
                        <div class="droplet droplet5"></div>
                        <div class="droplet droplet6"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-12" style="padding:20px;">
    <div class="panel animated fadeInUp ">
      <div class="panel-body">
        <div class="col-md-12 panel">
          <div class="col-md-12 panel-heading">
            <h4>Edit Question: "{{info.question}}"</h4>
          </div>
          <div class="col-md-12 panel-body" style="padding-bottom:30px;">
              <div class="col-md-12">
                <form class="cmxform" id="signupForm" novalidate="novalidate">
                  <div class="col-md-12">
                    <div class="form-group form-animate-text" style="margin-top:40px !important;">
                      <input ng-model="info.subject" type="text" class="form-text"  aria-required="true">
                      <span class="bar"></span>
                      <label>Session</label>
                    </div>

                    <div class="form-group form-animate-text" style="margin-top:40px !important;">
                      <input ng-model="info.question" type="text" class="form-text"  aria-required="true">
                      <span class="bar"></span>
                      <label>Question ?</label>
                    </div>

                    <div class="form-group form-animate-text" style="margin-top:40px !important;">
                      <select ng-model="info.type" class="form-control" ng-options="sm for sm in selectSM" >
                        <option value="">--- Please Select Type Answer ---</option>
                      </select>
                    </div>

                  </div>

                  <div class="col-md-10 col-md-offset-1" ng-if="info.type == 'choice'">
                    <button class="btn btn-defalut" ng-click="AddAnswer(info)"> +More Answer </button>
                    <button class="btn btn-defalut" ng-click="RemoveAnswer(info)"> -Remove Answer </button>
                    <hr>
                    <div class="form-group form-animate-text" ng-repeat="answer in info.answers track by $index">
                      <input ng-model="answer.text" type="text" class="form-text" aria-required="true">
                      <span class="bar"></span>
                      <label>Answer: {{$index+1}} <i class="fa fa-check-square" ng-if="AnsIDTrue === answer.id" style="color: green;"></i> </label>
                    </div>
                     
                    <div class="form-group form-animate-text">
                      <select ng-model="info.AnswerTrue" class="form-control" ng-options="info.text for info in info.answers" >
                        <option value="">--- Please Select True Answer ---</option>
                      </select>
                    </div>
                    
                    <div class="form-group form-animate-text" style="margin-top:40px !important;">
                      <input ng-model="info.timer" type="text" class="form-text"  aria-required="true">
                      <span class="bar"></span>
                      <label>Countdown Timer <span style="color:red;">Sec.</span></label>
                    </div>

                    <div class="form-group form-animate-text" style="margin-top:40px !important;">
                      <p>Calculate ?</p>
                      <switch ng-model="info.calculate"  on="active" off="block" class="wide"></switch> 
                    </div>
                  </div> 
 
                  <br><br>
                  <div class="col-md-12">
                    <hr>
                    <button class="btn btn-success" ng-click="UpdateQuestions(info)"> SAVE </button>
                  </div>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  th {
    text-align: center;
  }
</style>
