<div id="content"> 
  <div class="panel">
    <div class="panel-body">
       <div class="col-md-6 col-sm-12">
          <h3 class="animated fadeInLeft">Comments Facebook</h3>
          <span class="animated fadeInLeft">Manage Comments</span>
       </div>
       <div class="col-md-6 col-sm-12">
          <div class="col-md-6 col-sm-6 text-right" style="padding-left:10px;">
             <h3 style="color:#DDDDDE;"><span class="fa  fa-map-marker"></span> Bangkok</h3>
             <h1 style="margin-top: -10px;color: #ddd;">24<sup>o</sup></h1>
          </div>
          <div class="col-md-6 col-sm-6">
             <div class="wheather">
              <div class="stormy rainy animated pulse infinite">
                <div class="shadow">
                  
                </div>
              </div>
              <div class="sub-wheather">
                <div class="thunder">
                  
                </div>
                <div class="rain">
                    <div class="droplet droplet1"></div>
                    <div class="droplet droplet2"></div>
                    <div class="droplet droplet3"></div>
                    <div class="droplet droplet4"></div>
                    <div class="droplet droplet5"></div>
                    <div class="droplet droplet6"></div>
                  </div>
              </div>
            </div>
          </div>
       </div>
    </div>
 </div>
  <div class="col-md-12" style="padding:20px;">
    <div class="panel animated fadeInUp ">
      <div class="panel-body">
        <div class="col-md-6">
          <div class="box-body no-padding">
            <form>
              <div class="form-group col-md-6 form-animate-text" style="margin-top:10px !important;">
                  <input ng-model="live.access_token"  class="form-text" type="text">
                  <span class="bar"></span>
                  <label>ACCESS TOKEN</label>
              </div>
              <div class="form-group col-md-6 form-animate-text" style="margin-top:10px !important;">
                  <input ng-model="live.link"  class="form-text" type="text">
                  <span class="bar"></span>
                  <label>LINK VIDEO </label>
              </div>
              <div class="form-group col-md-12 form-animate-text">
                  <button class="btn btn-success" ng-click="SyncLive(live)"> SAVE COMMENTS FACEBOOK </button>
              </div>
            </form>
            <hr>
            <form>
                <div class="form-group col-md-12 form-animate-text" style="margin-top:40px !important;">
                  <input ng-model="commentspin.comment"  class="form-text" type="text">
                  <span class="bar"></span>
                  <label>Commets PIN</label>
                </div>
                <div class="form-group col-md-12 form-animate-text">
                  <button class="btn btn-success" ng-click="UpdatePin(commentspin)"> SAVE PIN COMMENT </button>
                </div>
            </form>             
          </div>
        </div>
         <div class="col-md-6">
          <div class="box-body no-padding">
             <div class="embed-responsive embed-responsive-16by9" >
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PTzp1yrA_84" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="message" ng-if="comments.id">
                <img ng-src="{{comments.image}}" class="img-responsive">
                <p>{{comments.name}} :</p>
                <span>{{comments.comment | limitTo : 200 }}</span>
            </div>
            <div class="message">
                <i class="fa fa-thumb-tack fa-2x" aria-hidden="true" style=" color: #f35023;float: right;"></i>
                <img ng-src="{{commentspin.image}}" class="img-responsive">
                <p> {{commentspin.name}} : </p>
                <span>{{commentspin.comment | limitTo : 200 }}</span>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="box">
            <div class="box-body no-padding">
               <div class="message" ng-repeat="data in dataComments">
                  <img ng-src="http://graph.facebook.com/{{data.from.id}}/picture?type=normal" class="img-responsive" width="70px">
                  <p>{{data.from.name}} :</p>
                  <span>{{data.message | limitTo : 200 }}</span>
                  <switch ng-model="data.status" ng-change="UpdateComment(data)" class="wide"></switch>
                  <hr>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  th {
    text-align: center;
  }

.messages {
  padding: 10px;
}
.message {
  float: left;
  width: 100%;
  margin: 9px 0;
  word-wrap: break-word;
}
.message p {
  font-size: 1.1em;
  width: 90%;
  margin: 5px 0;
  opacity: 0.6;
}
.message span {
  font-size: 1.3em;
  width: 90%;
  margin: 5px 0;
}
.message img {
  border-radius: 100%;
  float: left;
  margin: 0 10px 15px 0;
  width: 6%;
}
@media ( max-width: 767px ) {
    .message img {
        width: 12%;
    }
    .message span {
        font-size: 1em;
        width: 90%;
        margin: 5px 0;
    }
    .status-user{
        outline: 1px solid #ed1b2f;
        outline-offset: -1px;
        width: 15px;
        height: 15px;
        position: absolute;
        z-index: 0;
    }
}
</style>