<div id="content"> 
   <div class="panel">
      <div class="panel-body">
         <div class="col-md-6 col-sm-12">
            <h3 class="animated fadeInLeft">Realtime Analytics Service</h3>
            <!-- <p class="animated fadeInDown"><span class="fa  fa fa-calendar"></span> Live Stream Episode {{settings.episode}} : {{events.subject}} </p> -->
         </div>
         <div class="col-md-6 col-sm-12">
            <div class="col-md-6 col-sm-6 text-right" style="padding-left:10px;">
               <h3 style="color:#DDDDDE;"><span class="fa  fa-map-marker"></span> Bangkok</h3>
               <h1 style="margin-top: -10px;color: #ddd;">25<sup>o</sup></h1>
            </div>
            <div class="col-md-6 col-sm-6" style="padding-bottom:30px;">
               <center>
                  <div class="mostly-suny suny">
                    <div class="sun animated pulse infinite">
                    </div>
                    <div class="cloudy animated pulse infinite">
                      <div class="shadow">
                        
                      </div>
                    </div>
                  </div>
                  <div class="hazy cloudy animated pulse infinite">
                    <div class="shadow">
                      
                    </div>
                  </div>
                </center>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-12" style="padding:20px;">
    <div class="panel animated fadeInUp ">
      <div class="panel-body">
        <div class="col-md-6">
          <div class="panel box-v1">
             <div class="panel-heading bg-white border-none">
                <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                   <h4 class="text-left">Online User</h4>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                   <h4>
                      <i class="fa fa-bar-chart text-right"></i>
                      <span class="icon-basket-loaded icons icon text-right"></span>
                   </h4>
                </div>
             </div>
             <div class="panel-body text-center">
                <h1 ng-if="views.length">{{views.length}}</h1>
                <h1 ng-if="!views.length">{{ zero }}</h1>
                <p>Online User</p>
                <hr/>
             </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="panel box-v1">
             <div class="panel-heading bg-white border-none">
                <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                   <h4 class="text-left">Total Views</h4>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                   <h4>
                      <i class="fa fa-bar-chart text-right"></i>
                      <!-- <span class="icon-basket-loaded icons icon text-right"></span> -->
                   </h4>
                </div>
             </div>
             <div class="panel-body text-center">
                <h1>{{user_logs.length}}</h1>
                <p>Total Views</p>
                <hr/>
             </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="panel">
            <div class="panel-heading"><h3>Data Analytics</h3></div>
            <div class="panel-body">
              <div class="responsive-table">
              <table id="userlog_analytics" class="display table table-responsive table-hover table-bordered table-striped row-border hover" width="100%">
          </table>
              </div>
          </div>
        </div>

        <div class="col-md-12 tabs-area">
          <div class="liner"></div>
          <ul class="nav nav-tabs nav-tabs-v5" id="tabs-demo6">
            <li class="active">
              <a href="/#tabs-demo6-area1" data-toggle="tab" title="profile" aria-expanded="false">
               <span class="round-tabs two">
                 <i class="fa fa-area-chart"></i>
               </span> 
             </a>
             <p class="text-center">
               All
             </p>
           </li>
             <li class="">
              <a href="/#tabs-demo6-area2" data-toggle="tab" title="bootsnipp goodies" aria-expanded="false">
               <span class="round-tabs three">
                <span class="icons icon-globe"></span>
              </span> </a>
              <p class="text-center">
               Country
             </p>
            </li>
            <li>
             <a href="/#tabs-demo6-area3" data-toggle="tab" title="welcome" aria-expanded="true">
              <span class="round-tabs one">
                <span class="icons icon-screen-desktop"></span>
                <span class="icons icon-screen-smartphone"></span>
              </span> 
            </a>
            <p class="text-center">
               DeviceType
             </p>
          </li>

          <li class="">
            <a href="/#tabs-demo6-area4" data-toggle="tab" title="profile" aria-expanded="false">
             <span class="round-tabs two">
               <i class="fa fa-chrome"></i>
             </span> 
           </a>
           <p class="text-center">
             BrowserType
           </p>
         </li>
          </ul>
          <div class="tab-content tab-content-v5">
            <div class="tab-pane fade active in" id="tabs-demo6-area1">
              <br>
              <div class="col-md-12">
                <br>
                <div class="col-md-12">
                  <div class="panel box-v1">
                     <div class="panel-heading bg-white border-none">
                        <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                           <h4 class="text-left">Country</h4>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                           <h4>
                              <i class="fa fa-bar-chart text-right"></i>
                              <!-- <span class="icon-basket-loaded icons icon text-right"></span> -->
                           </h4>
                        </div>
                     </div>
                     <div class="panel-body text-center">
                        <table class="table table-hover text-center table-bordered ">
                          <tr>
                            <th>#</th>
                            <th>Country Name</th>
                            <th>Total Views</th>
                          </tr>
                          <tr ng-repeat="data in city">
                            <td>{{$index+1}}</td>
                            <td>{{data.city ? data.city : 'No data'}}</td>
                            <td>{{data.count}}</td>
                          <tr>
                        </table>
                     </div>
                  </div>
                </div>
                
                <br>
                <div class="col-md-12">
                  <div class="panel box-v1">
                     <div class="panel-heading bg-white border-none">
                        <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                           <h4 class="text-left">DeviceType</h4>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                           <h4>
                              <i class="fa fa-bar-chart text-right"></i>
                              <!-- <span class="icon-basket-loaded icons icon text-right"></span> -->
                           </h4>
                        </div>
                     </div>
                     <div class="panel-body text-center">
                        <table class="table table-hover text-center table-bordered ">
                          <tr>
                            <th>#</th>
                            <th>Device Type</th>
                            <th>version</th>
                            <th>Total Views</th>
                          </tr>
                          <tr ng-repeat="data in devices">
                            <td>{{$index+1}}</td>
                            <td>{{data.device}}</td>
                            <td>{{data.os_version}}</td>
                            <td>{{data.count}}</td>
                          </tr>
                        </table>
                     </div>
                  </div>
                </div>

                <br>
                <div class="col-md-12">
                  <div class="panel box-v1">
                     <div class="panel-heading bg-white border-none">
                        <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                           <h4 class="text-left">BrowserType</h4>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                           <h4>
                              <i class="fa fa-bar-chart text-right"></i>
                              <!-- <span class="icon-basket-loaded icons icon text-right"></span> -->
                           </h4>
                        </div>
                     </div>
                     <div class="panel-body text-center">
                        <table class="table table-hover text-center table-bordered ">
                          <tr>
                            <th>#</th>
                            <th>Browser Type</th>
                            <th>Total Views</th>
                          </tr>
                          <tr ng-repeat="data in browsers">
                            <td>{{$index+1}}</td>
                            <td>{{data.browser}}</td>
                            <td>{{data.count}}</td>
                          <tr>
                        </table>
                     </div>
                  </div>
                </div>


              </div>
            </div>
            <div class="tab-pane fade " id="tabs-demo6-area2">
              <br>
              <div class="col-md-12">
                <div class="panel box-v1">
                   <div class="panel-heading bg-white border-none">
                      <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                         <h4 class="text-left">Country</h4>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                         <h4>
                            <i class="fa fa-bar-chart text-right"></i>
                            <!-- <span class="icon-basket-loaded icons icon text-right"></span> -->
                         </h4>
                      </div>
                   </div>
                   <div class="panel-body text-center">
                      <table class="table table-hover text-center table-bordered ">
                        <tr>
                          <th>#</th>
                          <th>Country Name</th>
                          <th>Total Views</th>
                        </tr>
                        <tr ng-repeat="data in city">
                          <td>{{$index+1}}</td>
                          <td>{{data.city ? data.city : 'No data'}}</td>
                          <td>{{data.count}}</td>
                        <tr>
                      </table>
                   </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="tabs-demo6-area3">
              <br>
              <div class="col-md-12">
                <div class="panel box-v1">
                   <div class="panel-heading bg-white border-none">
                      <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                         <h4 class="text-left">DeviceType</h4>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                         <h4>
                            <i class="fa fa-bar-chart text-right"></i>
                            <!-- <span class="icon-basket-loaded icons icon text-right"></span> -->
                         </h4>
                      </div>
                   </div>
                   <div class="panel-body text-center">
                      <table class="table table-hover text-center table-bordered ">
                        <tr>
                          <th>#</th>
                          <th>Device Type</th>
                          <th>version</th>
                          <th>Total Views</th>
                        </tr>
                        <tr ng-repeat="data in devices">
                            <td>{{$index+1}}</td>
                            <td>{{data.device}}</td>
                            <td>{{data.os_version}}</td>
                            <td>{{data.count}}</td>
                          </tr>
                      </table>
                   </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="tabs-demo6-area4">
              <br>
              <div class="col-md-12">
                <div class="panel box-v1">
                   <div class="panel-heading bg-white border-none">
                      <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                         <h4 class="text-left">BrowserType</h4>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                         <h4>
                            <i class="fa fa-bar-chart text-right"></i>
                            <!-- <span class="icon-basket-loaded icons icon text-right"></span> -->
                         </h4>
                      </div>
                   </div>
                   <div class="panel-body text-center">
                      <table class="table table-hover text-center table-bordered ">
                        <tr>
                          <th>#</th>
                          <th>Browser Type</th>
                          <th>Total Views</th>
                        </tr>
                        <tr ng-repeat="data in browsers">
                          <td>{{$index+1}}</td>
                          <td>{{data.browser}}</td>
                          <td>{{data.count}}</td>
                        <tr>
                      </table>
                   </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
