<div id="content"> 
   <div class="panel">
      <div class="panel-body">
         <div class="col-md-6 col-sm-12">
            <h3 class="animated fadeInLeft">Setting Service</h3>
            <p class="animated fadeInDown"><span class="fa  fa-map-marker"></span> Setting </p>
         </div>
         <div class="col-md-6 col-sm-12">
            <div class="col-md-6 col-sm-6 text-right" style="padding-left:10px;">
               <h3 style="color:#DDDDDE;"><span class="fa  fa-map-marker"></span> Bangkok</h3>
               <h1 style="margin-top: -10px;color: #ddd;">25<sup>o</sup></h1>
            </div>
            <div class="col-md-6 col-sm-6">
               <div class="wheather">
                  <div class="stormy rainy animated pulse infinite">
                     <div class="shadow">
                     </div>
                  </div>
                  <div class="sub-wheather">
                     <div class="thunder">
                     </div>
                     <div class="rain">
                        <div class="droplet droplet1"></div>
                        <div class="droplet droplet2"></div>
                        <div class="droplet droplet3"></div>
                        <div class="droplet droplet4"></div>
                        <div class="droplet droplet5"></div>
                        <div class="droplet droplet6"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-12" style="padding:20px;">
    <div class="panel animated fadeInUp ">
      <div class="panel-body">
        <div class="form-group form-animate-text" style="margin-top:40px !important;">
          <form class="cmxform" novalidate="novalidate">
            <div class="col-md-12">
              <h3>OrderBy</h3>
              <div class="form-group form-animate-text">
                <select ng-model="settings[0].order_by" class="form-control" ng-options="sm for sm in select_order" >
                  <option value="" style="display: none;">--- Please Select Type Player ---</option>
                </select>
              </div>

            </div> 
            <br>
            <div class="col-md-12">
              <button class="btn btn-success" 
              ng-disabled="!settings[0].order_by" ng-click="UpdateSetting(settings[0])"> SAVE </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


