<div id="content"> 
   <div class="panel">
      <div class="panel-body">
         <div class="col-md-6 col-sm-12">
            <h3 class="animated fadeInLeft">Users Information</h3>
            <span class="animated fadeInLeft">Manage Users</span>
         </div>
         <div class="col-md-6 col-sm-12">
            <div class="col-md-6 col-sm-6 text-right" style="padding-left:10px;">
               <h3 style="color:#DDDDDE;"><span class="fa  fa-map-marker"></span> Bangkok</h3>
               <h1 style="margin-top: -10px;color: #ddd;">24<sup>o</sup></h1>
            </div>
            <div class="col-md-6 col-sm-6">
               <div class="wheather">
                <div class="stormy rainy animated pulse infinite">
                  <div class="shadow">
                    
                  </div>
                </div>
                <div class="sub-wheather">
                  <div class="thunder">
                    
                  </div>
                  <div class="rain">
                      <div class="droplet droplet1"></div>
                      <div class="droplet droplet2"></div>
                      <div class="droplet droplet3"></div>
                      <div class="droplet droplet4"></div>
                      <div class="droplet droplet5"></div>
                      <div class="droplet droplet6"></div>
                    </div>
                </div>
              </div>
            </div>
         </div>
      </div>
   </div>
  <div class="col-md-12" style="padding:20px;">
    <div class="panel animated fadeInUp ">
      <div class="panel-body">
        <div class="col-md-6">
          <div class="panel box-v1">
            <div class="panel-heading bg-white border-none">
              <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                <h4 class="text-left">Users</h4>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                 <h4>
                 <span class="icon-user icons icon text-right"></span>
                 </h4>
              </div>
            </div>
            <div class="panel-body text-center">
              <h1>{{todos.length}}</h1>
              <p>Total Users</p>
              <hr>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel box-v1">
            <div class="panel-heading bg-white border-none">
              <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                <h4 class="text-left">Users</h4>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                 <h4>
                 <span class="icon-user icons icon text-right"></span>
                 </h4>
              </div>
            </div>
            <div class="panel-body text-center">
              <h1>{{todosActive.length}}</h1>
              <p>Active Users</p>
              <hr>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="panel">
            <div class="panel-heading">
              <button class="btn btn-success" ng-show="realtimeUser" ng-click="realtimeUser = !realtimeUser"> realtime </button>
              <button class="btn btn-danger" ng-hide="realtimeUser" ng-click="realtimeUsers()"> async </button>
            </div>
            <div class="panel-body">
              <div class="responsive-table">
              <table id="userlog" class="display table table-responsive table-hover table-bordered table-striped row-border hover" width="100%">
              </table>
              </div>
              <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Active</th>
                  <th>Picture</th>
                  <th>Display Name</th>
                  <th>Email</th>
                  <th>Address</th>
                  <th>Phone</th>
                  <!-- <th>Last Access</th> -->
                  <th>Created at</th>
                  <th>key ID</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="data in users | orderBy:'created_at':true ">
                  <td>
                    <switch ng-model="data.status" ng-change="activeCallback(data)" on="Active" off="Block" class="wide"></switch>
                  </td>
                  <td>
                    <a href="http://graph.facebook.com/{{data.uid}}/picture?type=large" target="_blank"><img ng-src="{{data.photoURL}}" alt=""></a>
                  </td>
                  <td><a href="https://web.facebook.com/{{data.uid}}" target="_blank">{{data.displayName}}</a></td>
                  <td>{{data.email}}</td>
                  <td>{{data.address}}</td>
                  <td>{{data.phone}}</td>
                  <!-- <td>{{data.lastAccess}}</td> -->
                  <td>{{data.created_at}}</td>
                  <td>{{data.uid}}</td>
                  <td><a href="" ng-click="DeleteUser(data)"><i class="fa fa-trash-o fa-2x"></i></a></td>
                </tr>
              </tbody>
            </table>
              <pagination 
                ng-model="currentPage"
                total-items="todos.length"
                max-size="maxSize"  
                boundary-links="true">
              </pagination>

            </div>
          </div>     
        </div>
      </div>
    </div>
  </div>
</div>
